<header>

  <nav>
    <div class="navbar">
      <a href="/" class="brand-logo">ToDosApp</a>
      <ul>
        <li><a href="/todos">Todos</a></li>
        <li><a href="/todos/active">active</a></li>
        <li><a href="/todos/completed">Complete</a></li>
      </ul>
    </div>
  </nav>

  <!-- input new todos -->
  <%- include('./_newtodo.ejs') %>

</header>